@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: #fff;
}

.container{
    width: 100%;
    height: 90vh;
    padding: 20px;
    display: flex;
}

.left, .right{
    flex-basis: 70%;
    padding: 10px;
}

textarea{
    width: 100%;
    height: 28%;
    background: #fff;
    padding: 10px 20px;
    border: 5px solid #434343;
    outline: 0;
    font-size: 18px;
}

iframe{
    width: 100%;
    height: 94%;
    background: #fff;
    border: 5px solid #434343;
    outline: 0;
}

label i{
    margin-right: 10px;
    margin-left: 10px;
}

label{
    display: flex;
    align-items: center;
    background: #434343;
    height: 30px;
}

.nav-container{
    width: 100%;
    height: 10vh;
    padding: 20px 530px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container h1 a{
    color: #fff;
    font-size: 50px;
    font-family: 'Bungee', sans-serif;
    text-decoration: none;
}

.nav-container h1 span{
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    color: #434343;
}

nav{
    background: #fff;
    border-radius: 50px;
    padding: 2.5px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after{
    content: '';
    background: #537895;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 4.5%;
    left: 5%;
    transform: translate(-50% -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover{
    color: #fff;
}

nav ul li:hover::after{
    top: 0;
    left: 1.5px;
    opacity: 1;
}

nav ul li a{
    text-decoration: none;
    color: #777;
}

nav ul li a:hover{
    color: #fff;
}